<p style='margin-top:0cm;margin-right:0cm;margin-bottom:10.0pt;margin-left:0cm;text-align:justify;line-height:115%;font-size:13px;font-family:"맑은 고딕";'>배송안내</p>
<table style="border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width: 76.3pt;border: 1pt solid black;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">배송방식</span></p>
            </td>
            <td style="width: 581.15pt;border-top: 1pt solid black;border-right: 1pt solid black;border-bottom: 1pt solid black;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">&gt;&nbsp;</span><span style="font-size:11px;">동일업체 개별배송 상품</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 76.3pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">배송지역</span></p>
            </td>
            <td style="width: 581.15pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">&gt;&nbsp;</span><span style="font-size:11px;">전국&nbsp;(일부지역 제외)</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 76.3pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">배송비</span></p>
            </td>
            <td style="width: 581.15pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">&gt;&nbsp;</span><span style="font-size:11px;">유료배송&nbsp;(일반지역&nbsp;2,500원&nbsp;/&nbsp;도서산간 및 제주도&nbsp;5,000원)</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 76.3pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">배송정보</span></p>
            </td>
            <td style="width: 581.15pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:8.0pt;text-align:justify;line-height:  normal;font-size:13px;font-family:"맑은 고딕";text-indent:-8.0pt;'><span style="font-size:11px;">&gt;&nbsp;</span><span style="font-size:11px;">일반상품은 결제일 다음날부터 평균&nbsp;3일 이내 발송됩니다.&nbsp;가전,&nbsp;가구 등 설치배송상품의 경우 평균&nbsp;10일 이내 발송됩니다.(상품상세정보에 별도 표기)</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:8.0pt;text-align:justify;line-height:  normal;font-size:13px;font-family:"맑은 고딕";text-indent:-8.0pt;'><span style="font-size:11px;">&gt;&nbsp;</span><span style="font-size:11px;">토요일,&nbsp;일요일,&nbsp;공휴일은 배송기일에서 제외됩니다.&nbsp;산간,&nbsp;도서지역은 배송기일이 추가적으로 소요될 수 있으며,&nbsp;상품의 재고상황에 따라 배송기일이 다소 지연 될 수도 있사오니 상품상세정보를 참고하시기 바랍니다.&nbsp;</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">&gt;&nbsp;</span><span style="font-size:11px;">해외구매대행 상품은 평균&nbsp;15일 이내 발송됩니다.</span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 76.3pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">유의사항</span></p>
            </td>
            <td style="width: 581.15pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0cm 5.4pt;vertical-align: top;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">&gt;&nbsp;</span><span style="font-size:11px;">단순 변심으로 반품 시 유의사항</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;text-align:justify;line-height:normal;font-size:13px;font-family:"맑은 고딕";'><span style="font-size:11px;">&nbsp;&nbsp;</span><span style="font-size:11px;">고객님의 단순 변심으로 인한 반품의 경우, 반품택배비는 고객님께서 부담하셔야 합니다.</span></p>
            </td>
        </tr>
    </tbody>
</table>